@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #212a3e;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards {
  margin-top: 80px;
}

.card {
  width: 350px;
  display: flex;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card__heading p {
  margin-right: 20px;
  font-size: 80px;
  position: sticky;
  top: 10px;
}

.card__content p {
  font-size: 17px;
  word-break: break-all;
  margin: 20px 0;
}

.footer {
  width: 100%;
  height: 500px;
  background: #394867;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
